<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="ITBA DCC AI adalah Chat Bot cerdas yang dibangun untuk memudahkan pencarian informasi di seluruh dunia"
    />
    <meta name="keywords" content="chat, bot, itba, dcc, openai, gpt" />
    <title>ITBA DCC AI - Irvanudin</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="fixed top-0 inset-x-0 text-white">
      <div class="container mx-auto">
        <div
          class="h-16 bg-red-500 rounded-b-lg p-2 flex flex-col justify-center"
        >
          <a href="/" class="text-lg text-center font-bold"
            ><i class="fa-solid fa-robot" style="font-size: 2em"></i>
            <span class="ml-2" style="font-size: 2em">ITBA DCC AI</span></a
          >
        </div>
      </div>
    </header>
    <main class="fixed top-16 bottom-12 inset-x-0 py-2">
      <div class="container mx-auto h-full">
        <div
          class="h-full bg-chat border-2 border-red-500 rounded-lg relative overflow-hidden"
        >
          <div class="bg-white/80 h-full">
            <div class="bg-red-200/20 h-full">
              <div
                id="chatContainer"
                class="h-full overflow-y-auto pb-16 flex flex-col px-2"
              ></div>
              <div
                class="absolute bottom-0 inset-x-0 bg-gradient-to-t from-red-300 rounded-b-lg"
              >
                <button
                  id="scrollBtn"
                  type="button"
                  class="hidden absolute -top-8 right-5 h-8 w-8 rounded-full bg-red-500/80 active:bg-red-500/60 text-white/80"
                >
                  <i class="fa-solid fa-chevron-down"></i>
                </button>
                <div
                  id="chatMenu"
                  class="hidden absolute -top-14 inset-x-2 bg-red-400/80 drop-shadow-lg rounded-lg backdrop-blur-sm"
                >
                  <button
                    type="button"
                    class="bg-yellow-500/95 m-2 p-2 rounded-lg active:bg-yellow-600/80 text-white/80"
                  >
                    <i class="fa-solid fa-trash-can-arrow-up"></i>
                    <span>Reset</span>
                  </button>
                </div>
                <div class="relative h-14 m-2">
                  <input
                    id="chatForm"
                    class="bg-red-400/90 drop-shadow-lg backdrop-blur-sm rounded-lg pl-16 pr-14 h-full w-full focus:outline-none text-white placeholder-white/60"
                    type="text"
                    placeholder="Ketik pesan ..."
                  />
                  <div class="absolute inset-y-0 left-0">
                    <button
                      id="chatMenuBtn"
                      type="button"
                      class="bg-red-500/80 p-2 rounded-l-lg w-14 h-full active:bg-red-500/60"
                    >
                      <i
                        class="fa-solid fa-ellipsis-vertical text-white/80"
                      ></i>
                    </button>
                  </div>
                  <div class="absolute bottom-0 right-0 p-2">
                    <button
                      id="chatSubmit"
                      type="button"
                      class="bg-red-500 p-2 rounded-lg w-10 h-10 disabled:bg-transparent active:bg-red-500/80 text-white/80"
                      disabled
                    >
                      <i class="fa-solid fa-paper-plane"></i>
                    </button>
                    <div
                      id="loading"
                      class="hidden p-2 rounded-lg w-10 h-10 text-white/80"
                    >
                      <div class="spin"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="fixed bottom-0 inset-x-0 text-white">
      <div class="container mx-auto">
        <div
          class="h-12 bg-red-500 rounded-t-lg p-2 flex flex-col justify-center"
        >
          <h1 class="text-lg text-center">
            &copy; 2023 Sistem Informasi - Irvanudin
          </h1>
        </div>
      </div>
    </footer>
    <script th:src="@{/script.js}"></script>
  </body>
</html>
