<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Chat Bot" />
    <meta name="keywords" content="chat, bot" />
    <title>Projek UAS | Irvanudin</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

      @keyframes spinner {
        0% {
          transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }
        100% {
          transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
      }
      .spin::before {
        animation: 1.5s linear infinite spinner;
        animation-play-state: inherit;
        border: dotted 4px #cfd0d1;
        border-radius: 50%;
        content: '';
        height: 24px;
        width: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        will-change: transform;
      }
    </style>
  </head>
  <body class="bg-slate-950 text-white">
    <header class="fixed top-0 inset-x-0">
      <div class="container mx-auto">
        <div
          class="h-16 bg-blue-800 rounded-b-lg p-2 flex flex-col justify-center"
        >
          <a href="/" class="text-lg text-center font-bold"
            ><i class="fa-solid fa-comment" style="font-size: 2em"></i>
            <span class="ml-2" style="font-size: 2em">PROJEK UAS</span></a
          >
        </div>
      </div>
    </header>
    <main class="fixed top-16 bottom-12 inset-x-0 py-2">
      <div class="container mx-auto h-full">
        <div
          class="h-full bg-slate-900 border-2 border-blue-800 rounded-lg py-1 px-2 relative"
        >
          <div
            id="chatContainer"
            class="h-full overflow-y-scroll pb-16 no-scrollbar flex flex-col"
          ></div>
          <div
            class="absolute bottom-0 inset-x-0 bg-gradient-to-t from-slate-800 rounded-b-lg"
          >
            <div class="relative h-14 m-2">
              <input
                id="chatForm"
                class="bg-slate-700/90 drop-shadow-lg backdrop-blur-sm rounded-lg pl-16 pr-14 h-full w-full focus:outline-none placeholder-white/60"
                type="text"
                placeholder="Ketik pesan ..."
              />
              <div class="absolute top-0 right-2 mt-2 ml-2">
                <button
                  id="chatSubmit"
                  type="button"
                  class="bg-blue-700 p-2 rounded-lg w-10 h-10 disabled:bg-transparent active:bg-blue-700/80 text-white/80"
                  disabled
                >
                  <i class="fa-solid fa-paper-plane"></i>
                </button>
                <div
                  id="loading"
                  class="hidden p-2 rounded-lg w-10 h-10 text-white/80"
                >
                  <div class="spin"></div>
                </div>
              </div>
              <div class="absolute top-0 left-0 mt-0 mr-2">
                <button
                  id="chatMenuBtn"
                  type="button"
                  class="bg-slate-600/80 p-2 rounded-l-lg w-14 h-14 disabled:bg-transparent active:bg-slate-600/60"
                >
                  <i class="fa-solid fa-ellipsis-vertical text-white/80"></i>
                </button>
              </div>
              <button
                id="scrollBtn"
                type="button"
                class="hidden absolute -top-10 right-3 h-8 w-8 rounded-full bg-slate-600/80 active:bg-slate-600/60 text-white/80"
              >
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div
                id="chatMenu"
                class="hidden absolute -top-16 inset-x-0 bg-slate-700/80 rounded-lg backdrop-blur-sm"
              >
                <button
                  type="button"
                  class="bg-yellow-600/95 m-2 p-2 rounded-lg active:bg-yellow-600/80 text-white/80"
                >
                  <i class="fa-solid fa-trash-can-arrow-up"></i>
                  <span>Reset</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="fixed bottom-0 inset-x-0">
      <div class="container mx-auto">
        <div
          class="h-12 bg-blue-800 rounded-t-lg p-2 flex flex-col justify-center"
        >
          <h1 class="text-lg text-center">
            &copy; 2023 Sistem Informasi - Irvanudin
          </h1>
        </div>
      </div>
    </footer>
    <script>
      const messagesKey = 'messages';
      const chatContainer = document.getElementById('chatContainer');
      const chatForm = document.getElementById('chatForm');
      const scrollBtn = document.getElementById('scrollBtn');
      const chatMenuBtn = document.getElementById('chatMenuBtn');
      const chatMenu = document.getElementById('chatMenu');
      const chatSubmit = document.getElementById('chatSubmit');
      const loading = document.getElementById('loading');
      const chatReset = chatMenu.querySelectorAll('button')[0];
      const iconMenu = chatMenuBtn.querySelector('i');

      let isMenuOpen = false;
      let isLoading = false;

      const messages = JSON.parse(localStorage.getItem(messagesKey)) ?? [];

      noChat();

      if (messages.length !== 0) chatContainer.innerHTML = '';

      for (let i = 0; i <= messages.length - 1; i++) {
        bubbleChat(messages[i].role, messages[i].content);
      }

      document.addEventListener('DOMContentLoaded', scrollChat);

      chatMenuBtn.addEventListener('click', () => {
        isMenuOpen = !isMenuOpen;
        openMenu(isMenuOpen);
      });

      chatReset.addEventListener('click', () => {
        localStorage.removeItem(messagesKey);
        messages.length = 0;

        chatContainer.innerHTML = '';
        noChat();

        isMenuOpen = false;
        openMenu(isMenuOpen);
      });

      chatForm.addEventListener('input', (event) => {
        const value = event.target.value;
        chatSubmit.disabled = value.length === 0;
      });

      chatForm.addEventListener('keydown', (event) => {
        if (event.key === 'Enter') onChat();
      });

      chatSubmit.addEventListener('click', onChat);

      chatContainer.addEventListener('scroll', () => {
        const scrollable =
          chatContainer.scrollTop >=
          chatContainer.scrollHeight - chatContainer.clientHeight - 60;

        if (scrollable) {
          scrollBtn.classList.add('hidden');
        } else {
          scrollBtn.classList.remove('hidden');
        }
      });

      scrollBtn.addEventListener('click', () => scrollChat({ smooth: true }));

      function openMenu(status) {
        if (status) {
          chatMenu.classList.remove('hidden');
          iconMenu.classList.remove('fa-bars');
          iconMenu.classList.add('fa-xmark');
        } else {
          chatMenu.classList.add('hidden');
          iconMenu.classList.remove('fa-xmark');
          iconMenu.classList.add('fa-bars');
        }
      }

      function scrollChat({ smooth = false }) {
        chatContainer.scrollTo({
          top: chatContainer.scrollHeight,
          behavior: smooth ? 'smooth' : 'auto',
        });
      }

      async function onChat() {
        if (isLoading) return;

        const userContent = chatForm.value;

        chatForm.value = '';
        chatSubmit.disabled = true;

        if (userContent.length === 0) return;

        saveMessages('user', userContent);

        isLoading = true;
        chatSubmit.classList.add('hidden');
        loading.classList.remove('hidden');

        try {
          const botContent = await fetchData(messages.slice(-10));
          saveMessages('system', botContent);
        } catch (_) {
          saveMessages(
            'system',
            'Terjadi kesalahan, silakan coba lagi dalam beberapa saat.'
          );
        }

        isLoading = false;
        loading.classList.add('hidden');
        chatSubmit.classList.remove('hidden');
      }

      async function fetchData(messages) {
        await new Promise((resolve) => setTimeout(resolve, 2000));

        const url = window.location.origin + '/api/chat';
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(messages),
        };

        try {
          const response = await fetch(url, options);
          const data = await response.json();
          return data.message;
        } catch (error) {
          console.error('Terjadi kesalahan:', error);
          throw error;
        }
      }

      function saveMessages(role, content) {
        const scrollable =
          chatContainer.scrollTop >=
          chatContainer.scrollHeight - chatContainer.clientHeight - 60;

        messages.push({ role, content });
        localStorage.setItem(messagesKey, JSON.stringify(messages));
        if (messages.length === 1) chatContainer.innerHTML = '';
        bubbleChat(role, content);
        if (scrollable) scrollChat({ smooth: true });
      }

      function noChat() {
        const divElement = document.createElement('div');
        divElement.classList.add(
          'h-full',
          'w-full',
          'flex',
          'flex-col',
          'justify-center',
          'text-center',
          'text-white/80'
        );

        const iconElement = document.createElement('i');
        iconElement.classList.add('fa-solid', 'fa-comment-slash');
        iconElement.style.fontSize = '4em';

        const textElement = document.createElement('p');
        textElement.classList.add('mt-4');
        textElement.textContent = 'Belum ada chat';

        divElement.appendChild(iconElement);
        divElement.appendChild(textElement);

        chatContainer.appendChild(divElement);
      }

      function bubbleChat(role, content) {
        const bubbleContainer = document.createElement('div');
        bubbleContainer.classList.add('my-1', 'flex');

        const chatElement = document.createElement('div');
        chatElement.classList.add(
          'bg-slate-700/80',
          'my-1',
          'mx-2',
          'p-2',
          'rounded-lg',
          'break-words'
        );
        chatElement.style.maxWidth = '80%';
        chatElement.textContent = content;

        const iconElement = document.createElement('i');
        iconElement.classList.add('fa-solid');

        if (role === 'system') {
          bubbleContainer.classList.add('justify-start');
          iconElement.classList.add('py-4', 'fa-robot');
          bubbleContainer.appendChild(iconElement);
          bubbleContainer.appendChild(chatElement);
        } else {
          bubbleContainer.classList.add('justify-end');
          iconElement.classList.add('py-4', 'fa-user');
          bubbleContainer.appendChild(chatElement);
          bubbleContainer.appendChild(iconElement);
        }

        chatContainer.appendChild(bubbleContainer);
      }
    </script>
  </body>
</html>
